<form class="" method="post" action="thankyou">
    <div class="col-md-6">
        <div class="form-group">
            <input type="email" class="form-control" placeholder="Email" required name="email">
        </div>
        <div class="form-group margin-0">
            <input type="text" class="form-control" placeholder="Name" required name="name">
        </div>
    </div>
    <div class="col-md-6 margin-0">
        <div class="form-group">
            <textarea class="form-control " rows="3" placeholder="Leave a message if you want" required name="message"></textarea>
        </div>
    </div>
    <div class="col-md-12">
        <div class="contact-btn text-center">
            <input class="btn btn-default btn-main" type="submit" value="Sign me up">
        </div>
    </div>
</form>